<strong>Olá, {{ name }}</strong>
<p>Uma nova requisição de senha foi requisistada</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Email: </strong> {{ email }} <br />

  <strong>Token: </strong> {{ token }} <br />

  <strong>Válido até a data: </strong> {{ date }} <br />
  <br />
</p>
